__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/

node_modules/

.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

logs/
*.log
storage/
fs/

.env
.env.*
*_secret.toml
*.pem
*.pem.pub

.DS_Store
